## Explore and clean data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [5]:
gtd = pd.read_csv("./data/climate-change-earth-surface-temperature-data/GlobalTemperatures.csv")
gtd.head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
gtd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
dt                                           3192 non-null object
LandAverageTemperature                       3180 non-null float64
LandAverageTemperatureUncertainty            3180 non-null float64
LandMaxTemperature                           1992 non-null float64
LandMaxTemperatureUncertainty                1992 non-null float64
LandMinTemperature                           1992 non-null float64
LandMinTemperatureUncertainty                1992 non-null float64
LandAndOceanAverageTemperature               1992 non-null float64
LandAndOceanAverageTemperatureUncertainty    1992 non-null float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [8]:
gtd.isnull().sum()

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

In [9]:
gtd_clean = gtd.drop(['LandAverageTemperatureUncertainty', 'LandMaxTemperatureUncertainty', 'LandMinTemperatureUncertainty', 'LandAndOceanAverageTemperatureUncertainty'], axis = 1)

for col in gtd_clean:
    gtd_clean[col] = gtd_clean[col].fillna(0)
        
gtd_clean.isnull().sum()

dt                                0
LandAverageTemperature            0
LandMaxTemperature                0
LandMinTemperature                0
LandAndOceanAverageTemperature    0
dtype: int64

global_temperature_data

## Deskriptive Statistik

1 a) Highest temperature, lowest temperature, temperature median, temperature mean

In [40]:
print('Highest and lowest average Temperature in one month: ')

LandTemperature = [gtd_clean[gtd_clean['LandAverageTemperature'] == gtd_clean['LandAverageTemperature'].max()]['LandAverageTemperature'].values[0], 
                   gtd_clean[gtd_clean['LandAverageTemperature'] == gtd_clean['LandAverageTemperature'].min()]['LandAverageTemperature'].values[0]]

LandAndOceanTemperature = [gtd_clean[gtd_clean['LandAndOceanAverageTemperature'] == gtd_clean['LandAndOceanAverageTemperature'].max()]['LandAndOceanAverageTemperature'].values[0], 
                           gtd_clean[gtd_clean['LandAndOceanAverageTemperature'] == gtd_clean['LandAndOceanAverageTemperature'].min()]['LandAndOceanAverageTemperature'].values[0]]

data = {'LandTemperature':LandTemperature, 'LandAndOceanTemperature':LandAndOceanTemperature}
max_min = pd.DataFrame(data, index=['Max', 'Min'])
max_min

Highest and lowest average Temperature in one month:

     LandTemperature  LandAndOceanTemperature
Max           19.021                   17.611
Min           -2.080                    0.000

1 b) Empirische verteilungsfunktion temperature (Split into intervals)

1 c) Calculate Varianz

1 d) temperature box plot

1 e) Daten klassieren